# dependencies
/node_modules

# Hardhat files
/artifacts
/cache
/coverage
/coverage.json
/ignition/deployments
/ignition/reports

# build files
/dist

# env file
.env

# misc
.DS_Store
yarn-error.log
